body {
  background-color: rgb(244, 244, 239);
}
main {
  .mainTitle {
    text-align: center;
    color: gray;
  }
  .ListContainer {
    .TodoList {
      border-radius: 20px;
      border: 2px solid pink;
      color: salmon;
      margin: 10px auto;
      padding: 10px;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      background-color: rgb(250, 250, 228);
      max-width: 1000px;
      div {
        input {
          margin-right: 5px;
          height: 20px;
        }
        button {
          background-color: pink;
          border: none;
          border-radius: 5px;
          padding: 5px;
          &:hover {
            background-color: salmon;
            color: white;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
      ul {
        li {
          margin-bottom: 5px;
          span {
            color: black;
            min-width: 200px;
            display: inline-block;
            border-bottom: 1px solid salmon;
            padding: 0 5px;
            margin-right: 5px;
            &:hover {
              background-color: salmon;
              color: white;
            }
          }
          .checkIcon {
            cursor: pointer;
            // scale: 1.2;
            &:hover {
              color: gray;
            }
          }
          button {
            background-color: pink;
            border: none;
            border-radius: 5px;
            padding: 5px;
            &:hover {
              background-color: salmon;
              color: white;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
      }
    }
    .DoneList {
      max-width: 1000px;
      border-radius: 20px;
      border: 2px solid lightblue;
      color: skyblue;
      margin: 10px auto;
      padding: 10px;
      background-color: rgb(250, 250, 228);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      p {
        color: gray;
        font-weight: 700;
      }
      ul {
        li {
          margin-bottom: 5px;
          span {
            color: black;
            min-width: 200px;
            display: inline-block;
            border-bottom: 1px solid skyblue;
            padding: 0 5px;
            margin-right: 5px;
            &:hover {
              background-color: skyblue;
              color: white;
            }
          }
          .trashIcon {
            cursor: pointer;
            scale: 1.2;
            &:hover {
              color: lightgray;
            }
          }
        }
      }
    }
  }
}
